RewriteEngine On
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
</IfModule>
RewriteRule ^momo/Listmomo$ public/momo/Listmomo.php [L]
RewriteRule ^momo/Addmomo$ public/momo/AddMomo.php [L]
RewriteRule ^apigetten/(.*)/(.*)$ assets/ajaxs/HistoryMomo.php?sdt=$1&tokenname=$2 [L]
RewriteRule ^apigetsodu/(.*)$ assets/ajaxs/HistoryMomo.php?balancetoken=$1 [L]
RewriteRule ^dashboard/(.*)$ public/momo/Dashboard.php?phonemomo=$1 [L]
RewriteRule ^anti-theft/(.*)$ public/momo/anti-theft.php?phone=$1 [L]
RewriteRule ^recharge$ public/money/Recharge.php [L]
RewriteRule ^upgrade$ public/money/Upgrade.php [L]
RewriteRule ^historyRecharge$ public/money/HistoryRecharge.php [L]
RewriteRule ^api/historyMomo/(.*)/(.*)$ public/money/HandleMomo.php?access_token=$1&phone=$2 [L]

RewriteRule ^thesieure/Listthesieure$ public/thesieure/Listthesieure.php [L]
RewriteRule ^thesieure/Addthesieure$ public/thesieure/AddThesieure.php [L]
RewriteRule ^historyapithesieure/(.*)$ assets/api/HistoryThesieure.php?token=$1 [L]
RewriteRule ^apigetsoduthesieure/(.*)$ assets/api/HistoryThesieure.php?balancetoken=$1 [L]

RewriteRule ^acb/listacb$ public/acb/ListAcb.php [L]
RewriteRule ^acb/addacb$ public/acb/AddAcb.php [L]

RewriteRule ^vcb/listvcb$ public/vietcombank/ListVcb.php [L]
RewriteRule ^vcb/addvcb$ public/vietcombank/AddVcb.php [L]
RewriteRule ^historyapivcb/(.*)$ assets/api/HistoryVietcombank.php?token=$1 [L]
RewriteRule ^apigetsoduvcb/(.*)$ assets/api/HistoryVietcombank.php?balancetoken=$1 [L]
RewriteRule ^vcb/history/(.*)$ public/vietcombank/HistoryVietcombank.php?account=$1 [L]

RewriteRule ^tpbank/Listtpbank$ public/tpbank/ListTpbank.php [L]
RewriteRule ^tpbank/Addtpbank$ public/tpbank/AddTpbank.php [L]
RewriteRule ^historyapitpb/(.*)$ assets/api/HistoryTpbank.php?token=$1 [L]
RewriteRule ^apigetsodutpb/(.*)$ assets/api/HistoryTpbank.php?balance=$1 [L]


RewriteRule ^mbbank/Listmbbank$ public/mbbank/ListMbbank.php [L]
RewriteRule ^mbbank/Addmbbank$ public/mbbank/AddMbbank.php [L]
RewriteRule ^apigetsodumbbank/(.*)$ assets/api/HistoryMbbank.php?balancetoken=$1 [L]
RewriteRule ^historyapimbbank/(.*)$ assets/api/HistoryMbbank.php?token=$1 [L]
RewriteRule ^historyapimbnoti/(.*)$ assets/api/HistoryMbbank2.php?token=$1 [L]
RewriteRule ^mbbank/history/(.*)$ public/mbbank/HistoryMbbank.php?stk=$1 [L]
RewriteRule ^apigetlistbank/(.*)$ assets/api/HistoryMbbank.php?listbanktoken=$1 [L]

RewriteRule ^zalopay/Listzalopay$ public/zalopay/ListZalopay.php [L]
RewriteRule ^zalopay/Addzalopay$ public/zalopay/AddZalopay.php [L]
RewriteRule ^apigetsoduzalopay/(.*)$ assets/api/HistoryZalopay.php?balancetoken=$1 [L]
RewriteRule ^apigetnamezalopay/(.*)$ assets/api/HistoryZalopay.php?tokeninfo=$1 [L]
RewriteRule ^historyzalopay/(.*)$ public/zalopay/HistoryZalopay.php?phone=$1 [L]
RewriteRule ^historyapizalopay/(.*)$ assets/api/HistoryZalopay.php?token=$1 [L]
RewriteRule ^historyapizalopayv2/(.*)$ assets/api/HistoryZalopay.php?tokenv2=$1 [L]
RewriteRule ^TRANSFERAPIZALOPAY/(.*)$ assets/api/HistoryZalopay.php?tokensend=$1 [L]

RewriteRule ^transfermomo/(.*)$ public/momo/Transfer.php?phonemomo=$1 [L]
RewriteRule ^sendbank/(.*)$ public/momo/Sendbank.php?phonemomo=$1 [L]
RewriteRule ^historyapimomo/(.*)$ assets/api/HistoryMomo.php?token=$1 [L]
RewriteRule ^testmm/(.*)$ assets/api/test.php?token=$1 [L]
RewriteRule ^api/service/momo/history$ assets/api/Apimomo.php [L]
RewriteRule ^listbank$ assets/api/list_bank.json [L]
RewriteRule ^historyapimomov3/(.*)$ assets/api/HistoryMomo3.php?token=$1 [L]
RewriteRule ^historyapimomov2/(.*)$ assets/api/HistoryMomo2.php?token=$1 [L]
RewriteRule ^apigetsodumomo/(.*)$ assets/api/HistoryMomo2.php?balancetoken=$1 [L]
RewriteRule ^apigetnamemomo/(.*)$ assets/api/HistoryMomo2.php?nametoken=$1 [L]
RewriteRule ^apigetnamebank/(.*)/(.*)/(.*)$ assets/api/HistoryMomo2.php?namebank=$1&bankcode=$2&account_number=$3 [L]
RewriteRule ^transfertoday/(.*)$ assets/api/HistoryMomo2.php?phonebank=$1 [L]
RewriteRule ^api/v2/service/momo/transfer$ assets/api/HistoryMomo.php [L]
RewriteRule ^api/v2022/transssafesr/(.*)/(.*)/(.*)/(.*)/(.*)$ assets/api/HistoryMomo.php?tokensend=$1&sdtnguoinhan=$2&password=$3&money=$4&noidung=$5 [L]
RewriteRule ^dấ/(.*)/(.*)/(.*)/(.*)/(.*)$ assets/api/test.php?tokensend=$1&sdtnguoinhan=$2&password=$3&money=$4&noidung=$5 [L]
RewriteRule ^cron$ public/cron.php [L]

RewriteRule ^cronMomo$ public/money/CronMomo.php [L]
RewriteRule ^info/profile$ public/info/Profile.php [L]
RewriteRule ^Docs$ public/document/DocumentApi.php [L]
RewriteRule ^dang-ky$ public/Register.php [L]
RewriteRule ^dang-nhap$ public/Login.php [L]
RewriteRule ^dang-nhap-facebook$ public/Facebook.php [L]
RewriteRule ^dang-nhap-google$ public/Google.php [L]
RewriteRule ^Logout$ public/Logout.php [L]
RewriteRule ^quen-mat-khau$ public/ForgotPass.php [L]
RewriteRule ^xac-thuc-khoi-phuc$ public/ConfirmPass.php [L]
RewriteRule ^doi-mat-khau$ public/ChangePass.php [L]
RewriteRule ^lich-su-thue-api$ public/HistoryApiMomo.php [L]
RewriteRule ^Groups/([A-Za-z0-9-]+) public/Groups.php?id=$1 [L]
RewriteRule ^Detail/([A-Za-z0-9-]+) public/Detail.php?id=$1 [L]
RewriteRule ^dich-vu-api/([A-Za-z0-9-]+) public/DetailAPI.php?id=$1 [L]
RewriteRule ^lich-su-mua-code$ public/History.php [L]
RewriteRule ^lich-su-mua-vps$ public/Vps.php [L] 
RewriteRule ^tao-ho-tro$ public/Ticket.php [L]
RewriteRule ^thong-tin$ public/Profile.php [L]
RewriteRule ^upload-code$ public/UploadCode.php [L]
RewriteRule ^ho-tro/([A-Za-z0-9-]+) public/MessTicket.php?id=$1 [L]     
RewriteRule ^yeu-thich$ public/Favorite.php [L]
RewriteRule ^Blogs$ public/client/Blogs.php [L]
RewriteRule ^Blog/([A-Za-z0-9-]+) public/client/XemBlog.php?id=$1 [L]
RewriteRule ^nap-the-cao$ public/Napthe.php [L]
RewriteRule ^nap-momo$ public/Momo.php [L]
RewriteRule ^bien-dong-so-du$ public/BienDongSoDu.php [L]
RewriteRule ^dich-vu-api$ public/API.php [L]
RewriteRule ^bai-viet$ public/Blog.php [L]
RewriteRule ^apimomo/checkTranId$ public/GetHistory.php [L]
RewriteRule ^historyApiMomo/(.*)$ assets/ajaxs/HistoryMomo.php?token=$1 [L]
RewriteRule ^ma-giam-gia$ public/GiftCode.php [L]
RewriteRule ^danh-muc/([A-Za-z0-9-]+) public/Template.php?id=$1 [L]
RewriteRule ^quan-ly-api/([A-Za-z0-9-]+) public/Dashboard.php?id=$1 [L]
RewriteRule ^apimomo/([A-Za-z0-9-]+) public/TranID.php?id=$1 [L]
ErrorDocument 404 /404.php


RewriteRule ^admin$ public/admin/Home.php [L]
RewriteRule ^admin/Users$ public/admin/ListUsers.php [L]
RewriteRule ^admin/ListUsers/Edit/([A-Za-z0-9-]+) public/admin/EditUsers.php?id=$1 [L]
RewriteRule ^admin/SettingAPI$ public/admin/SettingAPI.php [L]
RewriteRule ^admin/bank-list$ public/admin/ListBank.php [L]
RewriteRule ^admin/notification$ public/admin/Notification.php [L]
RewriteRule ^admin/Setting$ public/admin/Setting.php [L]
RewriteRule ^admin/Setting/Edit/([A-Za-z0-9-]+) public/admin/EditSetting.php?id=$1 [L]